body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, select, button {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#membersList {
    display: flex;
    flex-wrap: wrap;
}

.member {
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 250px;
    text-align: center;
}

.member img {
    margin-top: 10px;
    border-radius: 50%;
}
